@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
background-color: #131313
}

h1 {
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.media-picture {
    height: 400px;
    background-image: url("../img/The-Batman.jpg");
    background-size: cover;
}

.review-score {
color: white;
background-color: #e6bd09;
padding: 12px;
}

h2 {
    color: steelblue;
}

p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #bdbdbd
}

a {
color: yellow;
}